/*===============================
=            font face          =
===============================*/

@font-face {
    font-family: 'ir_sans';
    src: url('../font/IRANSansRegular.ttf') format('woff');
}

@font-face {
    font-family: 'ir_sans_b';
    src: url('../font/IRANSansBold.ttf') format('woff');
}

@font-face {
    font-family: 'yekan_bakh';
    src: url('../font/YekanBakh-Regular.ttf') format('woff');
}

* {
    font-family: 'ir_sans'!important;
    box-sizing: border-box;
    text-decoration: none !important;
    text-transform: uppercase;
    outline: none;
}

$primary: #c12127;
$secondary:#2a333c;
$bg_color:#8f9299;
$white: #fff;
$full_size:100%;
$half_size:50%;
$number-of-options: 5;
@mixin svg_s {
    width: 16px;
    height: 16px;
    fill: darken($color: $white, $amount: 10%);
}

@mixin rotate {
    -webkit-transform: rotate( 180deg);
    transform: rotate( 180deg);
}

@mixin borderstyle {
    .border_btm {
        &:after {
            display: block;
            content: "";
            width: 30%;
            height: 30%;
            position: absolute;
            bottom: 0px;
            right: 0px;
            border-bottom: 1px solid $primary;
            border-right: 1px solid $primary;
            margin: 20px;
        }
        &:before {
            display: block;
            content: "";
            width: 30%;
            height: 30%;
            position: absolute;
            bottom: 0px;
            left: 0px;
            border-bottom: 1px solid$primary;
            border-left: 1px solid $primary;
            margin: 20px;
        }
    }
    &:before {
        display: block;
        content: "";
        width: 30%;
        height: 30%;
        position: absolute;
        top: 0px;
        left: 0px;
        border-top: 1px solid $primary;
        border-left: 1px solid $primary;
        margin: 20px;
    }
    &:after {
        display: block;
        content: "";
        width: 30%;
        height: 30%;
        position: absolute;
        top: 00px;
        right: 0px;
        border-top: 1px solid $primary;
        border-right: 1px solid$primary;
        margin: 20px;
    }
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

body {
    background: $bg_color;
}


/*===============================
=        navigation bar         =
===============================*/

.wrap {
    background-color: $bg_color;
    box-shadow: 0px 2px 5px darken($color: $secondary, $amount: 10%);
}

.social_media {
    display: inline-block;
    p {
        a {
            width: 50px;
            height: 34px;
            margin-right: 1px;
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            svg {
                @include svg_s;
            }
            &:hover {
                background: $primary;
                clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
                transition: background 200ms;
                svg {
                    fill: $white;
                }
            }
        }
    }
}

.bg_secondary,
.dropdown-menu {
    background-color: lighten($color: $bg_color, $amount: 5%);
    .nav-link {
        color: $secondary !important;
    }
}

.bg-scrolling {
    background-color: $primary!important;
    box-shadow: 0px 2px 5px darken($color: $secondary, $amount: 10%);
    .nav-link {
        color: $white !important;
    }
}

.navbar {
    padding: 0;
    // box-shadow: 0px 2px 20px $secondary;
    .navbar-brand {
        img {
            width: 80px;
            vertical-align: top;
            display: inline-block;
            transform: rotate(0);
            transition: 400ms all;
            -webkit-transition: 400ms all;
        }
        &::before {
            content: '';
            transform: skewX( -33deg);
            -webkit-transform: skewX( -33deg);
            background: $secondary;
            position: absolute;
            right: 700px;
            top: -40px;
            bottom: -20px;
            left: -100%;
            z-index: -2;
            transition: 400ms all;
            -webkit-transition: 400ms all;
        }
        &:hover {
            img {
                @include rotate;
            }
        }
    }
    .navbar-nav {
        direction: rtl;
        .nav-item {
            .nav-link,
            .dropdown-item {
                height: 60px;
                min-width: 60px;
                &:before {
                    content: '';
                    width: 0;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    background: $white;
                    position: absolute;
                    transition: all 400ms;
                    -webkit-transition: all 400ms;
                }
                &:hover {
                    color: $white !important;
                    &:before {
                        width: 100%;
                    }
                }
            }
            .dropdown-item {
                &:hover {
                    background: none;
                }
            }
        }
    }
}


/*===============================
=            swiper             =
===============================*/

.bdt-timeline-container {
    display: flow-root;
    box-sizing: content-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    // padding-left: 15px;
    // padding-right: 15px;
    overflow: hidden;
    // margin-top: 22px;
    .upk-salf-slider-wrapper {
        display: flex;
        flex-direction: row;
        // background: darken($color: $primary, $amount: 30%);
        // box-shadow: 0 5px 15px darken($color: $primary, $amount: 50%);
        height: 450px;
        padding: 30px 0;
        position: relative;
        .upk-salf-item {
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            &.swiper-slide-active {
                // .upk-salf-content-wrap {}
                .upk-salf-title,
                .upk-salf-desc,
                .upk-salf-button {
                    opacity: 1;
                }
            }
            .upk-salf-image-wrap {
                height: 100%;
                width: 100%;
            }
            .upk-xanc-img {
                display: block;
                width: 100%;
                height: 400px;
                object-fit: cover;
            }
            .upk-salf-content-wrap {
                position: absolute;
                left: 0;
                bottom: 0;
                top: unset;
                max-width: 460px;
                overflow: hidden;
                background: rgba($white, .3);
                backdrop-filter: blur(15px);
                transition: backdrop-filter 0.9s;
                padding: 20px;
                padding-left: 20px;
            }
            .upk-salf-title {
                font-size: 23px;
                font-weight: 700;
                line-height: 1.2;
                color: $secondary;
                text-transform: capitalize;
                margin-bottom: 20px;
                opacity: 0;
            }
            .upk-salf-desc {
                color: lighten($color: $secondary, $amount: 5%);
                font-size: 14px;
                line-height: 1.6;
                text-transform: capitalize;
                margin-bottom: 20px;
                opacity: 0;
            }
            .upk-salf-button {
                opacity: 0;
                .link {
                    color: $secondary;
                    cursor: pointer;
                    font-weight: 500;
                    text-decoration: none;
                    text-transform: capitalize;
                    font-size: 14px;
                    transition: all .3s ease;
                    &:hover {
                        color: $primary;
                    }
                }
                .link--arrowed {
                    display: inline-block;
                    .arrow-icon {
                        position: relative;
                        top: 0;
                        -webkit-transition: -webkit-transform 0.3s ease;
                        transition: -webkit-transform 0.3s ease;
                        transition: transform 0.3s ease;
                        transition: transform 0.3s ease, -webkit-transform 0.3s ease;
                        vertical-align: middle;
                    }
                    .arrow-icon--circle {
                        transition: stroke-dashoffset .3s ease;
                        stroke-dasharray: 95;
                        stroke-dashoffset: 95;
                    }
                    g {
                        stroke: currentColor;
                        color: $secondary;
                    }
                    &:hover {
                        .arrow-icon {
                            transform: translate3d(5px, 0, 0);
                        }
                        .arrow-icon--circle {
                            stroke-dashoffset: 0;
                        }
                        g {
                            color: $primary;
                        }
                    }
                }
            }
        }
        // scroll css start
        .upk-page-scroll {
            position: absolute;
            bottom: 8%;
            right: 5%;
            transform: rotate(90deg);
            z-index: 1;
            display: none;
            .arrow-up {
                height: 70px;
                width: 70px;
                display: block;
                background: rgba($white, .3);
                backdrop-filter: blur(18px);
                position: relative;
                cursor: pointer;
                transition: all .5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
                transform: rotate(-90deg);
                overflow: hidden;
            }
            .arrow-slide {
                left: 0;
                top: -100%;
                width: 100%;
                height: 100%;
                background: $primary;
                position: absolute;
                display: block;
                z-index: 0;
            }
            .long-arrow-left {
                display: block;
                margin: 30px auto;
                width: 16px;
                height: 16px;
                border-top: 2px solid $secondary;
                border-left: 2px solid $secondary;
            }
            .long-arrow-left {
                transform: rotate(-135deg);
            }
            .long-arrow-left::after {
                content: "";
                display: block;
                width: 2px;
                height: 25px;
                background-color: $secondary;
                transform: rotate( -45deg) translate(8px, 3px);
                left: 0;
                top: 0;
            }
            .arrow-up:hover {
                transition: all .1s;
                .left-arm:after {
                    transform: rotate(-10deg);
                }
                .right-arm:after {
                    transform: rotate(10deg);
                }
                .arrow-slide {
                    transition: all .5s ease-in-out;
                    transform: translateY(200%);
                }
            }
        }
        // scroll css end
        .upk-salf-nav-pag-wrap {
            position: absolute;
            top: 0;
            height: 100%;
            right: 0;
        }
        .upk-salf-navigation {
            margin-top: 40px;
            margin-right: 2px;
            .link--arrowed {
                display: inline-block;
                .arrow-icon {
                    position: relative;
                    top: 0;
                    -webkit-transition: -webkit-transform 0.3s ease;
                    transition: -webkit-transform 0.3s ease;
                    transition: transform 0.3s ease;
                    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
                    vertical-align: middle;
                }
                .arrow-icon--circle {
                    transition: stroke-dashoffset .3s ease;
                    stroke-dasharray: 95;
                    stroke-dashoffset: 95;
                }
                g {
                    stroke: currentColor;
                    color: $secondary;
                }
                &:hover {
                    .arrow-icon {
                        transform: translate3d(5px, 0, 0);
                    }
                    .arrow-icon--circle {
                        stroke-dashoffset: 0;
                    }
                    g {
                        color: $primary;
                    }
                }
            }
            .upk-button-next {
                margin-top: 15px;
                transform: rotate(90deg);
            }
            .upk-button-prev {
                transform: rotate(-90deg);
            }
        }
        // swiper pagination css start
        .upk-salf-pagi-wrap {
            position: absolute;
            top: 43%;
            right: 0;
            margin-right: 22px;
            // MIXIN - PREFIX
            // =================================================
            @mixin prefix($property,
            $value,
            $prefixes: webkit moz ms o) {
                @each $prefix in $prefixes {
                    #{'-' + $prefix + '-' + $property}: $value;
                }
                #{$property}: $value;
            }
            // MIXIN - ANIMATION AND KEYFRAMES
            // =================================================
            @mixin keyframes($animationName) {
                @-webkit-keyframes #{$animationName} {
                    @content;
                }
                @-moz-keyframes #{$animationName} {
                    @content;
                }
                @-o-keyframes #{$animationName} {
                    @content;
                }
                @keyframes #{$animationName} {
                    @content;
                }
            }
            @mixin animation($animate...) {
                $max: length($animate);
                $animations: '';
                @for $i from 1 through $max {
                    $animations: #{$animations + nth($animate, $i)};
                    @if $i < $max {
                        $animations: #{$animations + ", "};
                    }
                }
                -webkit-animation: $animations;
                -moz-animation: $animations;
                -ms-animation: $animations;
                animation: $animations;
            }
            // KEYFRAMES
            // =================================================
            @include keyframes(progress) {
                0% {
                    stroke-dashoffset: 75;
                    opacity: 1;
                }
                95% {
                    stroke-dashoffset: 0;
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                    stroke-dashoffset: 0;
                }
            }
            // SWIPER
            .swiper-pagination-bullet {
                background-color: transparent;
                opacity: 0.8;
                // bullet svg animation
                &--svg-animation {
                    width: 20px;
                    height: 20px;
                    margin: 6px -7px;
                    display: inline-block;
                    svg {
                        @include prefix(transform,
                        rotate(-90deg));
                    }
                    .svg__circle-inner {
                        stroke: $secondary;
                        fill: transparent;
                        @include prefix(transition,
                        all 0.3s ease);
                    }
                }
                &-active {
                    .svg__circle {
                        stroke: $primary;
                        stroke-dasharray: 75;
                        stroke-dashoffset: 0;
                        @include animation(progress 4s ease-in-out 1 forwards);
                    }
                    .svg__circle-inner {
                        fill: $secondary;
                        stroke: $primary;
                    }
                }
                &.swiper-pagination-bullet-active {
                    &--svg-animation {
                        .svg__circle-inner {
                            stroke: $primary;
                        }
                    }
                    &-active {
                        .svg__circle {
                            stroke: $primary;
                        }
                        .svg__circle-inner {
                            fill: $primary;
                        }
                    }
                }
            }
        }
    }
}


/*===============================
=       latest results          =
===============================*/

.latest_results {
    @include borderstyle();
    position: relative;
    height: 400px;
    color: $white;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    h3 {
        position: absolute;
        top: 0px;
        right: auto;
        left: auto;
    }
    .inner_wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        margin: 40px auto;
        .results_title {
            margin-top: 30px;
            text-align: center;
            font-weight: 300;
            span {
                font-size: 0.75rem;
                text-decoration: line-through;
                color: $secondary;
            }
        }
        .results_date {
            color: darken($color: $white, $amount: 20%);
        }
        .results_dataile {
            margin: 35px auto;
            p {
                color: $white;
            }
            span {
                color: $secondary;
            }
        }
        a {
            margin: 0;
            animation: pulse-red 2s infinite;
        }
    }
}

.match {
    width: $full_size;
    height: 100px;
    border-radius: 10px;
    background: $primary;
    .header {
        width: $full_size;
        height: 140px;
        .team {
            width: 40%;
            height: $full_size;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .logo {
                width: 50px;
                height: 50px;
            }
            .team_name {
                font-size: 30px;
            }
        }
        .stats {
            width: 15%;
            font-size: 34px;
            font-weight: 1000;
            letter-spacing: 2px;
            color: $white;
            background: $secondary;
            border: 2px solid $primary;
            outline: 1px solid $secondary;
            .middle {
                background: $primary;
                color: $white;
                font-size: 33px;
            }
        }
    }
}


/*===============================
=          about team           =
===============================*/

.about_team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../img/slide-04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .masthead {
        position: relative;
        overflow: hidden;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba($primary, 0.65);
        }
        .masthead-content {
            position: relative;
            max-width: 40rem;
            padding-top: 5rem;
            padding-bottom: 5rem;
            direction: rtl;
            h1,
            .h1 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1.2rem;
            }
            a {
                float: left;
                animation: pulse-red 2s infinite;
            }
        }
    }
    .social-icons {
        position: relative;
        z-index: 2;
        .btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            height: 4rem;
            width: 4rem;
            border: none;
            border-radius: 100rem;
            background: rgba($primary, .65);
            animation: pulse-red 2s infinite;
            &:hover {
                background: $primary;
            }
        }
    }
}


/*===============================
=         support team          =
===============================*/

.support_team {
    position: relative;
    margin: 40px 0;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h3 {
        color: $white
    }
    p {
        color: $white;
        padding: 0 60px;
        text-align: right;
    }
    .support_content {
        @include borderstyle();
    }
}

#form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 90%;
    max-width: 500px;
    #debt-amount-slider {
        display: flex;
        flex-direction: row;
        align-content: stretch;
        position: relative;
        width: 100%;
        height: 50px;
        user-select: none;
        &::before {
            content: " ";
            position: absolute;
            height: 20px;
            width: 100%;
            width: calc(100% * (#{$number-of-options - 1} / #{$number-of-options}));
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: $primary;
        }
        input,
        label {
            box-sizing: border-box;
            flex: 1;
            user-select: none;
            cursor: pointer;
        }
        label {
            display: inline-block;
            position: relative;
            width: 20%;
            height: 100%;
            user-select: none;
            &::before {
                content: attr(data-debt-amount);
                position: absolute;
                left: 50%;
                padding-top: 10px;
                transform: translate(-50%, 45px);
                font-size: 14px;
                letter-spacing: 0.4px;
                font-weight: 400;
                white-space: nowrap;
                color: $white;
                opacity: 0.7;
                transition: all 0.15s ease-in-out;
            }
            &::after {
                content: " ";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 30px;
                height: 30px;
                border: 2px solid $primary;
                background: $white;
                border-radius: 50%;
                pointer-events: none;
                user-select: none;
                z-index: 1;
                cursor: pointer;
                transition: all 0.15s ease-in-out;
            }
            &:hover::after {
                transform: translate(-50%, -50%) scale(1.25);
            }
        }
        input {
            display: none;
            &:checked {
                +label::before {
                    font-weight: 800;
                    opacity: 1;
                }
                +label::after {
                    border-width: 4px;
                    transform: translate(-50%, -50%) scale(0.75);
                }
                ~#debt-amount-pos {
                    opacity: 1;
                }
                @for $i from 1 through $number-of-options {
                    &:nth-child(#{$i * 2 - 1})~#debt-amount-pos {
                        left: #{($i * 20%) - 10%};
                    }
                }
            }
        }
        #debt-amount-pos {
            display: block;
            position: absolute;
            top: 50%;
            width: 12px;
            height: 12px;
            background: $primary;
            border-radius: 50%;
            transition: all 0.15s ease-in-out;
            transform: translate(-50%, -50%);
            border: 2px solid $white;
            opacity: 0;
            z-index: 2;
        }
    }
    &:valid {
        #debt-amount-slider {
            input {
                +label::before {
                    transform: translate(-50%, 45px) scale(0.9);
                    transition: all 0.15s linear;
                }
                &:checked+label::before {
                    transform: translate(-50%, 45px) scale(1.1);
                    transition: all 0.15s linear;
                }
            }
        }
    }
    &+button {
        display: block;
        position: relative;
        margin: 56px auto 0;
        padding: 10px 20px;
        appearance: none;
        transition: all 0.15s ease-in-out;
        font-family: inherit;
        font-size: 24px;
        font-weight: 600;
        border-radius: 8px;
        outline: 0;
        user-select: none;
        cursor: pointer;
        // animation: pulse-red 2s infinite;
        &:focus {
            background: $secondary;
            border-color: $secondary;
            color: $white;
            pointer-events: none;
            box-shadow: none !important;
            &::before {
                animation: spin 1s linear infinite;
            }
        }
        &::before {
            display: inline-block;
            width: 0;
            opacity: 0;
            content: "\f3f4";
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
            margin-right: 0;
            transform: rotate(0deg);
        }
    }
    &:invalid+button {
        pointer-events: none;
        opacity: 0.25;
    }
}


/*===============================
=         next matchs           =
===============================*/

.next_matchs {
    background: $primary;
    display: flex;
    .match_content {
        background: $secondary;
        padding: 10px !important;
        padding: 40px 0;
        h3 {
            text-align: center;
            color: $white;
            margin-bottom: 20px;
        }
        #timer {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;
            .number-list {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
                .item {
                    width: 50px;
                    height: 50px;
                    background: $primary;
                    margin-right: 30px;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 24px;
                    color: $white;
                    animation: pulse-red 2s infinite;
                }
            }
            .unit-list {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                margin-top: 10px;
                width: 100%;
                .item {
                    width: 60px;
                    margin-right: 20px;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;
                    color: $white;
                    font-weight: 500;
                }
            }
        }
        .match_details {
            text-align: center;
            .date_time {
                color: rgba($white, .4);
                font-size: 20px;
            }
            .format {
                color: rgba($white, .8);
                font-size: 20px;
                span {
                    color: rgba($white, .4);
                    font-size: 14px;
                    margin: 0 5px 10px;
                }
            }
        }
    }
    .matches_data {
        background: rgba($white, .2);
        padding: 0;
        table {
            border-collapse: collapse;
            width: 100%;
            font-size: 14px;
            text-align: center;
            color: $white;
        }
        tbody {
            tr:last-child {
                border: 0;
            }
        }
        tr {
            border-bottom: 1px solid $primary;
        }
        td {
            padding: .5rem 0.25rem;
            .score {
                display: flex;
                justify-content: center;
                padding: 0 10px;
                .score_team {
                    width: 45%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    img {
                        width: 30px;
                        height: 30px;
                    }
                    &:first-child {
                        justify-content: flex-end;
                    }
                    &:last-child {
                        justify-content: flex-start;
                    }
                }
                .score_result {
                    width: 10%;
                }
            }
            &:first-child {
                padding-left: 15px;
                span {
                    margin-right: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
}

.timer-end {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: $secondary;
    font-weight: 700;
}


/*===============================
=         news slider           =
===============================*/

.news_box {
    padding: 20px 0;
    margin-bottom: 40px;
    h3 {
        display: flex;
        justify-content: center;
        margin: 40px auto;
        color: $white;
    }
    .news_slider {
        width: 80%;
        position: relative;
        max-width: 850px;
        margin: 20px auto;
        background: $secondary;
        box-shadow: 0px 14px 8px rgba($secondary, 0.2);
        padding: 25px;
        border-radius: 10px;
        height: 400px;
        transition: all .3s;
        @media screen and (max-width: 992px) {
            max-width: 680px;
            height: 400px;
        }
        @media screen and (max-width: 768px) {
            min-height: 500px;
            height: auto;
            margin: 180px auto;
        }
        @media screen and (max-height: 500px) and (min-width: 992px) {
            height: 350px;
        }
        &__item {
            display: flex;
            align-items: center;
            @media screen and (max-width: 768px) {
                flex-direction: column;
            }
            &.swiper-slide-active {
                .news_slider__img {
                    img {
                        opacity: 1;
                        transition-delay: .3s;
                    }
                }
                .news_slider__content {
                    >* {
                        opacity: 1;
                        transform: none;
                        @for $i from 0 to 15 {
                            &:nth-child(#{$i + 1}) {
                                transition-delay: $i * 0.1 + 0.3s;
                            }
                        }
                    }
                }
            }
        }
        &__img {
            // width: 40%;
            width: 350px;
            flex-shrink: 0;
            height: 300px;
            // background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
            // box-shadow: 4px 13px 30px 1px rgba($secondary, 0.2);
            border-radius: 10px;
            transform: translateX(-80px);
            overflow: hidden;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                // background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
                border-radius: 20px;
                opacity: 0.8;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                border-radius: 10px;
                transition: all .3s;
            }
            @media screen and (max-width: 992px) {
                // width: 45%;
            }
            @media screen and (max-width: 768px) {
                transform: translateY(-50%);
                width: 90%;
            }
            @media screen and (max-width: 576px) {
                width: 95%;
            }
            @media screen and (max-height: 500px) and (min-width: 992px) {
                height: 270px;
            }
        }
        &__content {
            // width: 60%;
            padding-right: 25px;
            direction: rtl;
            @media screen and (max-width: 992px) {
                // width: 55%;
            }
            @media screen and (max-width: 768px) {
                margin-top: -80px;
                text-align: center;
                padding: 0 30px;
            }
            @media screen and (max-width: 576px) {
                padding: 0
            }
            >* {
                opacity: 0;
                transform: translateY(25px);
                transition: all .4s;
            }
            a {
                animation: pulse-red 2s infinite;
            }
        }
        &__code {
            color: rgba($white, .4);
            margin-bottom: 15px;
            display: block;
            font-weight: 500;
        }
        &__title {
            font-size: 24px;
            font-weight: 700;
            color: $white;
            margin-bottom: 20px;
        }
        &__text {
            color: $white;
            margin-bottom: 30px;
            line-height: 1.5em;
        }
        // &__button {
        //     display: inline-flex;
        //     background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
        //     padding: 15px 35px;
        //     border-radius: 50px;
        //     color: #fff;
        //     box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
        //     text-decoration: none;
        //     font-weight: 500;
        //     justify-content: center;
        //     text-align: center;
        //     letter-spacing: 1px;
        //     @media screen and (max-width: 576px) {
        //         width: 100%;
        //     }
        // }
        .swiper-container-horizontal>.swiper-pagination-bullets,
        .swiper-pagination-custom,
        .swiper-pagination-fraction {
            bottom: 10px;
            left: 0;
            width: 100%;
        }
        &__pagination {
            position: absolute;
            z-index: 21;
            right: 20px;
            width: 11px!important;
            text-align: center;
            left: auto!important;
            top: 50%;
            bottom: auto!important;
            transform: translateY(-50%);
            @media screen and (max-width: 768px) {
                transform: translateX(-50%);
                left: 50%!important;
                top: 205px;
                width: 100%!important;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &.swiper-pagination-bullets .swiper-pagination-bullet {
                margin: 8px 0;
                @media screen and (max-width: 768px) {
                    margin: 0 5px;
                }
            }
            .swiper-pagination-bullet {
                width: 11px;
                height: 11px;
                display: block;
                border-radius: 10px;
                background: $primary;
                opacity: 0.2;
                transition: all .3s;
                &-active {
                    opacity: 1;
                    background: $primary;
                    height: 30px;
                    box-shadow: 0px 0px 20px rgba($primary, 0.3);
                    @media screen and (max-width: 768px) {
                        height: 11px;
                        width: 30px;
                    }
                }
            }
        }
    }
}


/*===============================
=           awards             =
===============================*/

.awards {
    padding: 10px;
    // background: $secondary;
    margin-bottom: 40px;
    h3 {
        display: flex;
        justify-content: center;
        margin: 40px auto 20px;
        color: $white;
    }
    .content-inner {
        width: 230px;
        color: $white;
        position: relative;
        transform-style: preserve-3d;
        perspective: 1000px;
        backface-visibility: hidden;
        transition: .9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        >* {
            transition: .9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        &:hover .content-front {
            transform: rotateY(-180deg);
        }
        .content-front,
        .content-back {
            position: relative;
            transform-style: preserve-3d;
            perspective: 1000px;
            backface-visibility: hidden;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .content-front {
            background: $primary;
        }
        .content-back {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            transform: rotateY(180deg);
            background: $primary;
            &:after {
                color: $white;
                position: absolute;
                content: "\25CF\25CF\25CF";
                width: 50px;
                left: 50%;
                bottom: 30px;
                margin-left: -25px;
                font-size: 9px;
                letter-spacing: 4px;
            }
        }
        .cf-inner {
            transform-style: preserve-3d;
            backface-visibility: hidden;
            width: 100%;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 30px;
            &:before,
            &:after {
                content: "";
                position: absolute;
                width: 50px;
                height: 50px;
                z-index: 10;
            }
            &:before {
                top: 20px;
                left: 20px;
                border-left: 1px solid;
                border-top: 1px solid;
                border-color: $white;
            }
            &:after {
                bottom: 20px;
                right: 20px;
                border-right: 1px solid;
                border-bottom: 1px solid;
                border-color: $white;
            }
            .inner {
                align-items: stretch;
                transform-style: preserve-3d;
                perspective: 1000px;
                backface-visibility: hidden;
                transform: translateZ(95px) scale(0.81);
                text-align: center;
                position: relative;
                z-index: 2;
                direction: rtl;
                h2 {
                    position: relative;
                    font-size: 22px;
                    font-weight: 800;
                    padding-bottom: 20px;
                    color: $white;
                    display: flex;
                    justify-content: center;
                    &:before {
                        content: "";
                        position: absolute;
                        bottom: 10px;
                        width: 100px;
                        height: 2px;
                        background: $white;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        top: -10px;
                        width: 100px;
                        height: 2px;
                        background: $white;
                    }
                }
                h4 {
                    display: inline-block;
                    color: $white;
                    text-transform: uppercase;
                    font-size: 12px;
                    letter-spacing: 2px;
                    margin: 0 4px;
                }
                p {
                    color: $white;
                    font-size: 13px;
                    line-height: 24px;
                    padding-bottom: 10px;
                    font-weight: 400;
                }
            }
            .serv-num {
                position: absolute;
                bottom: 20px;
                left: 30px;
                color: $white;
                z-index: 3;
                font-size: 20px;
            }
        }
        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.4;
            z-index: 3;
        }
    }
    .content-inner:hover .content-back {
        transform: rotateY(0deg);
    }
}


/*===============================
=       Season statistics       =
===============================*/

.Season_statistics {
    background: $primary;
    padding: 40px 0;
    h3 {
        display: flex;
        justify-content: center;
        margin: 40px auto 20px;
        color: $white;
    }
    .statistics_content {
        font-size: 30px;
        color: $white;
        text-align: right;
    }
    .statistics_icon {
        svg {
            width: 70px;
            height: 70px;
            fill: rgba($white, .6);
        }
    }
}


/*===============================
=             footer            =
===============================*/

.footer {
    background: $secondary;
    .copyright {
        color: $white;
    }
    .navbar2 {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        padding-top: 15px;
        .nav-item {
            a {
                color: rgba($white, .4);
                &:hover {
                    color: $white
                }
            }
            ;
        }
    }
    form {
        width: 100%;
        height: 40px;
        max-width: 570px;
        // position: absolute;
        // left: -30px;
        margin-top: 8px;
        .inner-form {
            .input-field {
                position: relative;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: center;
                justify-content: flex-end;
                input {
                    height: 40px;
                    width: 40px;
                    border: 0;
                    display: block;
                    font-size: 14px;
                    font-family: 'Poppins', sans-serif;
                    cursor: pointer;
                    padding: 10px 60px 10px 0;
                    border-radius: 3px;
                    transition: width .3s;
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23ccc' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3e%3c/svg%3e");
                    background-position: calc(100% - 10px) 5px;
                    background-repeat: no-repeat;
                    background-color: $primary;
                    background-size: 34px 34px;
                    caret-color: $white;
                    color: $white;
                    animation: pulse-red 2s infinite;
                    .placeholder {
                        font-size: 18px;
                        font-weight: 300;
                        opacity: 1;
                        color: $white;
                        transition: opacity .1s;
                    }
                    &:-moz-placeholder {
                        color: $white;
                        transition: opacity .1s;
                        font-size: 18px;
                        font-weight: 300;
                        opacity: 1;
                    }
                    &::-webkit-input-placeholder {
                        color: $white;
                        transition: opacity .1s;
                        font-size: 18px;
                        font-weight: 300;
                        opacity: 1;
                    }
                    &:hover,
                    &:focus {
                        box-shadow: none;
                        outline: 0;
                    }
                    &:focus {
                        width: 90%;
                        padding-left: 15px;
                        animation: none;
                        .placeholder {
                            opacity: 1;
                        }
                        &:-moz-placeholder {
                            opacity: 1;
                        }
                        &::-webkit-input-placeholder {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .row {
        &:last-child {
            background: darken($color: $secondary, $amount: 20%);
        }
    }
}


/*===========================================
=============================================
==            latest results.html          ==
=============================================
============================================*/


/*===============================
=            header             =
===============================*/

.header_results {
    background: url(../img/head-bg-match.jpg);
    background-position: center;
    height: 500px;
    p {
        font-size: 38px;
        color: $white;
        font-weight: 700;
        text-shadow: 0 0 12px $secondary;
    }
    .match {
        background: rgba($white, .1);
        border-radius: 0;
    }
}

.breadcrumb {
    position: relative;
    top: -50px;
    background: $primary;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 20% 100%);
    height: 50px;
    .breadcrumb_detail {
        padding: 16px;
        list-style: none;
        position: absolute;
        right: 0;
    }
    li {
        float: right;
        display: inline;
        font-size: 12px;
        a {
            color: rgba($white, .6);
            text-decoration: none;
            &:hover {
                color: $white;
            }
        }
    }
    li {
        +li {
            &:before {
                content: "/\00a0";
                float: right;
                padding: 0 8px;
                color: $white;
            }
        }
    }
}


/*===============================
=      results_discription      =
===============================*/

.results_discription {
    @include borderstyle;
    position: relative;
    margin: 40px auto;
    padding: 0 20px 20px;
    h3 {
        display: flex;
        justify-content: center;
        margin: 20px auto 20px;
        color: $white;
    }
    p {
        text-align: right;
        padding: 20px;
        color: $white;
    }
}


/*===============================
=          testimonial          =
===============================*/

.dialogues {
    background: $primary;
    padding: 20px;
    .swiper {
        width: 100%;
        height: 100%;
        .swiper-slide {
            .testimonial {
                margin: 0 10px;
                widows: 100%;
                .testimonial-content {
                    margin: 20px 0 50px 0;
                    position: relative;
                    &:after {
                        content: "";
                        width: 20px;
                        height: 20px;
                        border-top: 20px solid $secondary;
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                        margin: 0 auto;
                        position: absolute;
                        bottom: -20px;
                        left: 0;
                        right: 0;
                    }
                    .description {
                        padding: 25px 35px;
                        margin: 0;
                        background: $secondary;
                        border-radius: 10px;
                        font-size: 15px;
                        color: $white;
                        position: relative;
                        min-height: 150px;
                        direction: rtl;
                        text-align: justify;
                        &:before,
                        &:after {
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            width: 35px;
                            height: 35px;
                            line-height: 35px;
                            border-radius: 8px;
                            text-align: center;
                            background: $secondary;
                            position: absolute;
                        }
                        &:before {
                            content: "\201E";
                            top: -18px;
                            left: 25px;
                        }
                        &:after {
                            content: "\201E";
                            bottom: -18px;
                            right: 25px;
                        }
                    }
                }
                .testimonial-profile {
                    display: table;
                    padding: 15px;
                    border: 1px solid $secondary;
                    border-radius: 20px;
                    margin: 0 auto;
                    position: relative;
                }
                .pic {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    border: 1px solid $secondary;
                    float: left;
                    overflow: hidden;
                }
                .title {
                    display: inline-block;
                    margin: 0 0 0 30px;
                    font-size: 19px;
                    font-weight: bold;
                    color: $white;
                    position: relative;
                    top: 22px;
                    &:before {
                        content: "";
                        width: 1px;
                        height: 70px;
                        background: $secondary;
                        position: absolute;
                        top: -8px;
                        left: -15px;
                    }
                }
                .post {
                    display: block;
                    font-size: 14px;
                    font-weight: normal;
                    color: darken($color: $white, $amount: 15%);
                    margin-top: 10px;
                }
            }
        }
    }
}


/*------------ media_screen ---------------*/

@media only screen and (max-width: 479px) {
    .testimonial .description {
        padding: 20px;
        font-size: 16px;
    }
    .testimonial .testimonial-profile {
        padding: 10px;
    }
    .testimonial .title {
        font-size: 16px;
    }
    .testimonial .post {
        font-size: 13px;
    }
}

@media screen and (max-width:768px) {
    .content-inner {
        width: 80%;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }
    to {
        transform: rotate(360deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }
}

@media (min-width: 992px) {
    .masthead {
        height: 100%;
        width: 75vw;
        min-height: 0;
        padding-bottom: 0;
        &::before {
            transform: skewX(-9deg);
            transform-origin: top right;
        }
        .masthead-content {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 2rem;
            padding-right: 9rem;
            h1,
            .h1 {
                font-size: 3.5rem;
            }
            .masthead .masthead-content p {
                font-size: 1.3rem;
            }
        }
    }
}

@media (min-width: 1200px) {
    .masthead {
        width: 65vw;
    }
}

@media (min-width: 992px) {
    .social-icons {
        position: absolute;
        height: 100%;
        top: 0;
        right: 2.5rem;
        width: auto;
    }
}

@media (min-width:768px) {
    .upk-salf-slider-wrapper {
        height: 550px;
        padding: 60px;
        .upk-page-scroll {
            bottom: 4%;
            display: inherit;
        }
        .upk-salf-item {
            .upk-salf-title {
                font-size: 40px;
            }
            .upk-salf-content-wrap {
                max-width: 400px;
                padding: 40px;
                padding-left: 0;
                top: 50%;
                transform: translateY(-50%);
                bottom: unset;
            }
            .upk-salf-image-wrap {
                width: 80%;
            }
        }
        .upk-salf-navigation {
            margin-top: 60px;
            margin-right: 20px;
        }
        //  .upk-salf-nav-pag-wrap {
        // 	// right: 30px;
        // }
        .upk-salf-pagi-wrap {
            margin-right: 47px;
            .swiper-pagination-bullet--svg-animation {
                margin: 6px 0;
            }
        }
    }
}

@media (min-width: 1024px) {
    .upk-salf-slider-wrapper {
        height: 650px;
        padding: 70px;
        .upk-page-scroll {
            bottom: 9%;
        }
        .upk-salf-item {
            .upk-salf-title {
                font-size: 50px;
            }
            .upk-salf-content-wrap {
                max-width: 460px;
                padding: 50px;
                padding-left: 0;
            }
            .upk-salf-desc {
                font-size: 16px;
            }
            .upk-salf-button {
                .link {
                    font-size: 16px;
                }
            }
            .upk-salf-image-wrap {
                width: 70%;
            }
        }
        .upk-salf-navigation {
            margin-top: 85px;
            margin-right: 30px;
        }
        .upk-salf-pagi-wrap {
            margin-right: 53px;
            .swiper-pagination-bullet--svg-animation {
                margin: 6px -5px;
            }
        }
    }
}

@media (min-width: 1440px) {
    .upk-salf-slider-wrapper {
        height: 700px;
        padding: 80px;
        .upk-salf-item {
            .upk-salf-title {
                font-size: 55px;
            }
        }
    }
}

@media only screen and (max-width: 250px) {}

@media (min-width: 320px) and (max-width: 350px) {}

@media (min-width: 350px) and (max-width: 375px) {}

@media only screen and (max-width: 480px) {}

@media (min-width: 400px) and (max-width: 536px) {}

@media only screen and (max-width: 300px) and (min-width: 250px) {}

@media only screen and (max-width: 350px) and (min-width: 300px) {}

@media only screen and (max-width: 400px) and (min-width: 350px) {}

@media only screen and (max-width: 450px) and (min-width: 400px) {}

@media only screen and (max-width: 500px) and (min-width: 450px) {}

@media only screen and (max-width: 550px) and (min-width: 500px) {}

@media only screen and (max-width: 600px) and (min-width: 550px) {}

@media only screen and (max-width: 650px) and (min-width: 600px) {}


/* Extra small devices (phones, 600px and down) */

@media (min-width: 600px) {}

@media (max-width: 600px) {}

@media (max-width: 575px) {}

@media (max-width: 600px) {}


/* sm */

@media (min-width: 768px) {}

@media screen and (max-width: 767px) {}


/* md */

@media (min-width: 992px) {}

@media (max-width: 992px) {}


/* lg */

@media (max-width: 1200px) {}

@media (min-width: 1200px) {}

@media (min-width: 1320px) {}


/* No CSS */


/*# sourceMappingURL=main.css.map */